<ion-content class="contactPage">
  <div class="blurBackground">
    <img src="./assets/images/contact.jpg" alt="image1" class="img">
  </div>
  <ion-header class="ion-no-border">
    <app-header-simple [menuHeight]="menuHeight" [wherePage]="wherePage"></app-header-simple>
  </ion-header>
  <ion-content [scrollEvents]="true">
    <div class="container">
      <div class="title">Contact</div>
      <form [formGroup]="formData">
        <div class="form_control">
          <div class="form_control-label">
            <p>Fullname:</p>
          </div>
          <div class="form_control-input">
            <ion-input type="text" formControlName="fullName">
            </ion-input>
          </div>
          <ng-container *ngFor="let validation of formMessage['fullName']">
            <div class="form-error-message"
              *ngIf="formSubmitted && formData.get('fullName')['hasError'](validation.type)">
              <ion-icon name="warning"></ion-icon>
              <span>{{validation.message}}</span>
            </div>
          </ng-container>
        </div>

        <div class="form_control">
          <div class="form_control-label">
            <p>Phone:</p>
          </div>
          <div class="form_control-input">
            <ion-input type="number" formControlName="phone">
            </ion-input>
          </div>
          <ng-container *ngFor="let validation of formMessage['phone']">
            <div class="form-error-message" *ngIf="formSubmitted && formData.get('phone')['hasError'](validation.type)">
              <ion-icon name="warning"></ion-icon>
              <span>{{validation.message}}</span>
            </div>
          </ng-container>
        </div>
        
        <div class="form_control">
          <div class="form_control-label">
            <p>Email:</p>
          </div>
          <div class="form_control-input">
            <ion-input type="text" formControlName="email">
            </ion-input>
          </div>
          <ng-container *ngFor="let validation of formMessage['email']">
            <div class="form-error-message" *ngIf="formSubmitted && formData.get('email')['hasError'](validation.type)">
              <ion-icon name="warning"></ion-icon>
              <span>{{validation.message}}</span>
            </div>
          </ng-container>
        </div>
        
        <div class="form_control">
          <div class="form_control-label">
            <p>Note:</p>
          </div>
          <div class="form_control-input">
            <ion-textarea type="text" rows="4" formControlName="note"></ion-textarea>
          </div>
          <ng-container *ngFor="let validation of formMessage['note']">
            <div class="form-error-message"
              *ngIf="formSubmitted && formData.get('note')['hasError'](validation.type)">
              <ion-icon name="warning"></ion-icon>
              <span>{{validation.message}}</span>
            </div>
          </ng-container>
        </div>
        
      </form>
      <div class="button" (click)="sendContact()">
        Send
      </div>
    </div>
  </ion-content>
</ion-content>