<ion-header class="ion-no-border" [ngClass]="{'active-header' : show}">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Back" defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <p class="h3 titlePage" style="text-align: right;padding-right: 20px;margin: 0;">Payment</p>
  <div class="information" (click)="editInfo()">
    <div class="information-name h5 titlePage">
      {{infoDelivery?.name}}
      <img src="./assets/icon/edit.svg" alt="" style="width:12px;height:12px" (click)="editInfo()">
    </div>
    <div class="information-decrip">
      <img src="./assets/icon/telephone.svg" alt="iconPhone" class="icon">
      <p class="h9">{{infoDelivery?.phone}}</p>
    </div>
    <div class="information-decrip">
      <img src="./assets/icon/pin.svg" alt="iconPhone" class="icon">
      <p class="h9">{{infoDelivery?.address}}</p>
    </div>
  </div>
</ion-header>

<ion-content>
  <div class="container">
    <p class="h6 title" style="float: right;margin-right: -20px; padding:5px 25px 5px 5px; text-align: right;">Your Book
    </p>
    <div *ngFor="let item of listBook;index as i" class="product">
      <div class="product-img contain-img">
        <img [src]="item.imageBook" alt="">
      </div>
      <div class="product_info">
        <div class="product_info-name h7" style="font-family: 'ESB'; text-overflow: ellipsis;
        overflow: hidden;
        width: 150px;
        white-space: nowrap;">
          {{item.name}}
        </div>
        <div class="product_info-decrip h8">
          <p>Price: {{convertMoney(item.price)}}</p>
          <p>Rating: <ng-rating-bar [value]="item.rating" [ratingCount]="5" colorActive="#FFC107"
              [styles]="{fontSize: '18px', margin: '-5px'}"></ng-rating-bar>
          </p>
        </div>
      </div>
      <div class="quantity">
        <span class="h10">Quantity</span>
        <div class="quantity_input">
          <div class="quantity_input-icon"><span class="mid" style="height: 30px;" (click)="minus(item)">-</span></div>
          <ion-input type="number" [(ngModel)]=item.numBuy min="0" max="20"></ion-input>
          <div class="quantity_input-icon"><span class="mid" style="height: 30px;" (click)="plus(item)">+</span></div>
        </div>
        <p class="total h10">Total: {{convertMoney(item.price * item.numBuy)}}</p>
      </div>
    </div>
    <p class="h6 title">Payment Methods</p>
    <div class="payment">
      <div class="payment_select">
        <div class="payment_option" (click)="choseMethod()">
          <div class="payment_option-name h6">
            <span class="h6">Payment Via VNPay</span>
            <span class="h8" style="font-family: EN;">There is a surcharge: 2%</span>
          </div>
          <div class="payment_option-checkIcon">
            <ion-checkbox [(ngModel)]="vnPay"></ion-checkbox>
          </div>
        </div>
        <div class="payment_option" (click)="choseMethod()">
          <div class="payment_option-name h6">
            <span class="h6">Payment Via Cash Money</span>
            <span class="h8" style="font-family: EN;">No extra fees</span>
          </div>
          <div class="payment_option-checkIcon">
            <ion-checkbox [(ngModel)]="!vnPay"></ion-checkbox>
          </div>
        </div>
      </div>
    </div>
    <div class="totalMoney">
      <div class="money">
        <p>Total</p>
        <p>{{convertMoney(total)}}</p>
      </div>
      <div *ngIf="vnPay" class="money">
        <p>Surcharge</p>
        <p>{{convertMoney((total * 2) / 100)}}</p>
      </div>
      <div class="money">
        <p>Delivery charges</p>
        <p>{{convertMoney(deliveryCharges)}}</p>
      </div>
      <div class="money">
        <p>Total amount</p>
        <p>{{convertMoney(totalAmount)}}</p>
      </div>
    </div>
    <div class="button h5" (click)=payment()>
      Payment
    </div>
  </div>
  <div [ngClass]="{'active' : show}" class="popUp" style="position:absolute; 
  top: 45%; left: 50%; transform: translate(-50%,-50%); opacity: 0; transition: .5s;
  visibility: hidden; z-index: 9;">
    <div class="title-popup">
      <div class="image done">
        <img src="./assets/icon/check.svg" alt="done" class="icon">
      </div>
      <span style="color: #1d9e2a; font-weight: 600; margin-top: 5px;margin-bottom: 10px;">Order Successfull!</span>
    </div>
    <div class="content-popup">
      <span class="info">Receiver: {{infoDelivery.name}}</span>
      <span class="info">Address: {{infoDelivery.address}}</span>
      <span class="info">Phone number: {{infoDelivery.phone}}</span>
      <span style="font-weight: 500; margin: 10px 0;">-------⚡️ Bill Information ⚡️-------</span>
      <div *ngFor="let item of infoBillDetails;index as i" style="width:100%;">
        <div class="book"
          style="width: 100%; height: 85px; padding: 10px; display: flex; align-items: center; justify-content: space-between;">
          <div class="book-img" style="width: 20%;height: 100%; overflow: hidden;">
            <img [src]="item.imgBook" style="width:100%;height: 100%; object-fit: cover;" alt="">
          </div>
          <div class="book_info"
            style="width:70%;height: 100%; display: flex; flex-direction: column; justify-content: space-evenly;">
            <div class="book_info-name" style="font-weight:600;font-size: 14px;">
              {{item.nameBook}}
            </div>
            <div class="book_info-amount" style="font-size: 12px;">
              Amount: {{item.amount}}
            </div>
          </div>
        </div>
      </div>
      <span>Total: {{bill.total}}</span>
      <span>Thank you</span>
      <span>❤️❤️❤️</span>
    </div>
    <div class="btn" style="display: flex; align-items: center; justify-content: center; width: 100%;">
      <div class="btn-ok" style="padding: 10px; width: 40% ;border-radius: 25px; border: 1px solid #000; text-align: center;" (click)="NavigateToAccount()">OK</div>
    </div>
  </div>
  <div [ngClass]="{'active' : show}" class="shadow" style="position: fixed;z-index: 2; ;top: 0; left: 0;
   right: 0; bottom: 0; background: rgba(0, 0, 0, 0.671); opacity: 0; transition: .5s; visibility: hidden;"
    (click)="show = false">
  </div>
</ion-content>